<!DOCTYPE html>
<html>
<head>
	<title>Dojo Secrets</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://use.fontawesome.com/680ef57b8e.js"></script>
</head>
<body>

<div class="container">
	<div class="row" style="border-bottom: 3px solid black">
		<div class="col-lg-6">
			<h1>Dojo Secrets</h1>
			<h5>Share your secrets with everyone on the Internet</h5>
		</div>
		<div class="col-lg-6" style="text-align: right">
			<a href="/logout"><button class="btn btn-danger" style="margin-top: 20px"><i class="fa fa-sign-out" aria-hidden="true"></i></button></a>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<h3>Hello, {{ user.first_name }}!</h3>
			<h5>Share a secret:</h5>
			<div class="form-group">
				<form action="/share" method="post">
					{% csrf_token %}
					<textarea class="form-control" name="secret"></textarea>
					<button type="submit" class="btn btn-primary">Share</button>
				</form>
			</div>
		</div>
		<div class="col-lg-8">
			<h3>Most {{sort}} secrets</h3>
			<a href="/secrets/{{alt_sort}}"><h5>Most {{alt_sort}} secrets</h5></a>
			{% for secret in secrets %}
				<div class="well">
					<p>{{ secret.content }}</p>
					<p>{{ secret.created_at }} - {{ secret.num_likes }} like(s){% if secret.user.id != request.session.user_id %}{% if user in secret.likes.all %} - <a href="/unlike/{{secret.id}}">Unlike</a>{% else %} - <a href="/like/{{secret.id}}">Like</a>{% endif %}{% endif %}{% if secret.user.id == request.session.user_id %} - <a href="/delete/{{secret.id}}">Delete</a>{% endif %}</p>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
</body>
</html>